<!DOCTYPE>

<!-- define angular app -->
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <!-- SPELLS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
  
</head>

<!-- define angular controller -->
<body>
<h2>환영합니다.</h2>
<ul>
<li><a href="#/13F"> 13F</a></li>
<li><a href="#/14F"> 14F</a></li>
<li><a href="#/15F"> 15F</a></li>
</ul>
<div ng-view></div>
<script src="/javascript/script.js"></script>

  
</body>

</html>
